In [1]:
print("Hello World")

Hello World

In [3]:
#
'''
multi line comment
'''
"""
multi lIne comment in quotes
"""

'\nmulti lIne comment in quotes\n'

In [9]:
x = 10

In [10]:
x

10

In [11]:
print(type(x))

<class 'int'>

In [12]:
x =10.0

In [13]:
x

10.0

In [14]:
print(type(x))

<class 'float'>

In [8]:
print(x)

10.0

In [15]:
x = " My name is Sarun"

In [16]:
x

' My name is Sarun'

In [17]:
print(type(x))

<class 'str'>

In [18]:
#PEMDAS
x = 10
y = 3

In [19]:
x ** y # exponentiation

1000

In [20]:
x * y

30

In [21]:
x / y# division

3.3333333333333335

In [22]:
x // y # floor division

3

In [23]:
x % y # modulo

1

In [24]:
x + y

13

In [25]:
x - y

7

In [28]:
#PEMDAS
x + y * 2

16

In [29]:
(x + y) * 2

26

In [59]:
x = "Sarun"
y = "Gattu"

In [31]:
x

'Sarun'

In [32]:
y

'Gattu'

In [34]:
x +" "+ y

'Sarun Gattu'

In [36]:
print(x,y)

Sarun Gattu

In [37]:
x + 10

TypeError: can only concatenate str (not "int") to str

In [38]:
x + str(10)# type casting

'Sarun10'

In [39]:
x

'Sarun'

In [40]:
x * 10

'SarunSarunSarunSarunSarunSarunSarunSarunSarunSarun'

In [41]:
x * y

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
a = '10'

In [43]:
a

'10'

In [44]:
int(a)

10

In [46]:
int(x)

ValueError: invalid literal for int() with base 10: 'Sarun'

In [50]:
x = int(input("Enter a number:"))
print(x * 10)
print(type(x))

Enter a number:101
1010
<class 'int'>

1. Accept 2 numbers and swap them
2. Accept 2 numbers and multiply them

In [65]:
#Branching
# CONDITIONAL FLOW
#if(condition):
#elif(condition):
#else:

#print the biggest among 2 numbers
#conditional Operators
# >, <, ==, <=, >=, !=
x = 12
y = 11

In [68]:
if(x > y):
    print(x)
    print("I am inside the condition")  
else:
    print(y)

12
I am inside the condition

In [ ]:
x = 10
y = 11
z = 10
if(x > y):
    if(x>z):
        print(x,"is the biggest number")]
    elif(x == z):
        print(" x and z are equal")
elif(x == y):
    #write other condition

In [71]:
#loops

# for
# while
x = 1
while(x<=10):
    print(x)
    x += 1 # x = x+1

1
2
3
4
5
6
7
8
9
10

In [72]:
range(10)

range(0, 10)

In [73]:
print(range(10))

range(0, 10)

In [74]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [75]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [76]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [77]:
for x in range(2,11,2):
    print(x)

2
4
6
8
10

# this is test